
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;  
}

h1 {
    font-family: Roboto;
    color: #275D38;
}

table, th, td {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
}

th {
    color: white;
    background-color: black;
}

.acknowledge {
    margin-left: 50%;
}

li {
    display: inline;
    color: #F2CD00;
    font-size:large;
    font-weight: 450;
    margin: 10px;
    margin-bottom: 0px;
}

.navbar__links {
    text-decoration: none;
}
.navbar__links:link,.navbar__links:visited{
    color: #F2CD00;
}
.home__page {
    text-decoration: none;
}

.navbar {
    background: #275D38;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1900px;
    margin: auto;
    padding: 0 50px;
}

.home__page {
    margin-right: auto;
    margin-top: 13px;
    font-size: 30px;
    font-weight: 200;
    color: #F2CD00;
    
}

.navbar__links{
    font-weight: 200;
    margin-top: 13px;
}

#navbar__logo {
    display: flex;
}


.right__container {
    float: right;
    width: 348px;
    height: 899px;
    background: url('images/right.jpg') no-repeat;
    background-size: cover;
    
}

.left__container {
    float: left;
    width: 348px;
    height: 899px;
    background: url('images/left.jpg') no-repeat;
    background-size: cover;
}

.button__container{
    position: relative;
    left: 35%;
    margin-top: 550px;
    width: 400px;
    height: 100px;
    background: url('images/BeginButton.PNG');
    background-size: cover;
}

.text__container{
    position: relative;
    white-space: nowrap;
    right: 22%;
    width: 300px;
    height: 50px;
    margin-left: 790px;
    
}

.view__certificate{
    text-decoration: none;
    color: #275D38;
}

.orientation__container {
    margin-left: auto;
    margin-right: auto;
}

.button_generic {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F2CD00;
    background-color: #275D38;
}

