* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;  
}

h1 {
    font-family: Roboto;
    color: #275D38;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
}

th {
    color: white;
    background-color: black;
}

.acknowledge {
    margin-left: 50%;
}

li {
    display: inline;
    color: #F2CD00;
    font-size:large;
    font-weight: 450;
    margin: 10px;
    margin-bottom: 0px;
}

.navbar__links {
    text-decoration: none;
}
.navbar__links:link,.navbar__links:visited{
    color: #F2CD00;
}

.navbar {
    background: #275D38;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1900px;
    margin: auto;
}

.home__page {
    margin-right: auto;
    margin-top: 1%;
    font-size: 30px;
    font-weight: 200;
    color: #F2CD00;
    text-decoration: none;
}

.navbar__links{
    font-weight: 200;
    margin-top: 13px;
}

#navbar__logo {
    display: flex;
    margin-left: 0%;
}

.right__image{
    float: right;
    width: 20%;
}

.left__image{
    float: left;
    width: 20%;
}

@media screen and (max-width:800px) {
    .left__image, .right__image{
        width: 0%;
    }
    
}

.middle__elements{
    width: 60%; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    
    
}

.home__logo{
    margin-top: 10%;
    margin-left: 35%;
    height: 30%;
    width: 30%;
}

.begin__button{
    position: relative;
    border-radius: 5px;
    width: 40%;
    height: 20%;
    text-align: center;
    font-size: 120%;
    padding: 2%;
    background-color: #275D38;
    text-decoration: none;
    color: #F2CD00;
    margin-left: 30%;
    margin-top: 10%;
    
}

@media screen and (max-width:800px) {
    .begin__button, .home__logo{
        width: 70%;
        margin-left: 15%;
    }
}


.text__container{
    position: relative;
    width: 40%;
    height: 50px;
    margin-left: 30%;
    text-align: center;
}
.view__certificate{
    text-decoration: none;
    color: #275D38;
    text-align: center;
}

.certificate__image{
    position: relative;
    left: 10%;
    margin-top: 200px;
}

.calculator__container{
    
    padding-top: 10px;
}
    


.button_generic {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F2CD00;
    background-color: #275D38;
}

