* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;  
  }

  /*----------------------------------Body Background------------------------------------------------------*/
  body {
      background-image: url(images/background_colour.png), url(images/augustana_background.jpg);
      background-repeat: no-repeat, no-repeat;
      background-size: 60% 100%, cover;
      background-attachment: fixed, fixed;
      background-position: center;
  }
  @media screen and (max-width:900px){
    body{
        background-image: url(images/background_colour.png);
        background-repeat: no-repeat;
        background-size: 60% 100%;
        background-attachment: fixed;
        background-position: center;
      }
  }
  

/*----------------------------------Common Atribute------------------------------------------------------*/

.navbar {
    background: #275D38;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 95%;
    z-index: 1;
    width: 99%;
    margin: auto;
    
}
.items__container{
    width: 20%;
    
}
.title__container{
    width: 80%;
}

.main__title {
    margin-right: auto;
    white-space: nowrap;
    font-size: xx-large;
    font-weight: 400;
    color: #F2CD00;
    text-decoration: none;
}
.main__title:active{
    color: #F2CD00;
    text-decoration: none;
}
.main__title:hover{
    text-decoration: none;
    color: #F2CD00;
}

@media screen and (max-width:900px) {
    .main__title {
        margin-top: 40px;
        font-size: large;
    }
  }

.navbar__links{
    font-weight: 200;
    margin-top: 13px;
    text-decoration: none;
}

.navbar__links:link,.navbar__links:visited{
    color: #F2CD00;
}

#navbar__logo {
    height: 100%;
}

.middle__elements{
    background-color: white;
    width: 60%; 
    padding: 20px;
    margin: 0 auto;
    padding-bottom:50px;
}

@media screen and (max-width:900px) {
  .middle__elements{
      width: 100%;
  }  
}


/*----------------------------------End of Common Atribute------------------------------------------------------*/

/*--------------------------------------Popup Atribute---------------------------------------------------------*/

.popup__container{
    visibility: hidden;
    width: 300px;
    height: 258px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    right: 12%;
    white-space: nowrap;
}
@media screen and (max-width:900px){
    .popup__container{
        right: 8%;
    }
}

.slide__container{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.navbar__popup{
    font-weight: 200;
    margin-top: 13px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar__popup:link,.navbar__popup:visited{
    color: #F2CD00;
}

.next {
    float: right;
}
.close__popup{
    margin:auto 20%;
}
.previous{
    float: left;
}
.next, .previous, .close__popup{
    padding: 2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #275D38;
    color: #F2CD00;
}

 
/*----------------------------------End of Popup Atribute------------------------------------------------------*/

/*-------------------------------Home Page--------------------------------------------------------------*/
.home__logo{
    margin-top: 10%;
    margin-left: 30%;
    height: 40%;
    width: 40%;
}

.begin__button{
    position: relative;
    border-radius: 5px;
    width: 40%;
    height: 20%;
    text-align: center;
    font-size: 120%;
    padding: 2%;
    background-color: #275D38;
    text-decoration: none;
    color: #F2CD00;
    margin-left: 30%;
    margin-top: 10%;

    cursor: pointer;
}

.calculator__button{
    position: relative;
    width: 30%;
    height: 15%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 1%;
    background-color: #F2CD00;
    text-decoration: none;
    color: #275D38;
    margin-left: 35%;
}
  
.text__container{
    position: relative;
    width: 40%;
    height: 50px;
    margin-left: 30%;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.click_here{
    text-decoration: none;
    color: #275D38;
}

@media screen and (max-width:900px) {
    .begin__button, .home__logo,.calculator__button{
        width: 70%;
        margin-left: 15%;
    }
    .text__container{
        width: 50%;
        margin-left: 25%;
    }
      
}
/*------------------------------------End of Home Page----------------------------------------------*/
/*------------------------------------------------------------Orientation Page--------------------------------------------------------*/
h1 {
    font-family: Roboto;
    color: #275D38;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: white;
    background-color: black;
}

#row-header {
    width: 10%;
}

.acknowledge {
    margin-left: 50%;
}
.orientation__container {
    margin-left: auto;
    margin-right: auto;
}

#headingOne, #headingTwo{
    background-color: #275D38!important;
}
#general__expand,#sizing__expand{
    text-decoration: none;
    color: #F2CD00;
}

/*------------------------------------------------------------End of Orientation Page--------------------------------------------------------*/


 
  
  
  .calculator__container{
      
      padding-top: 10px;
  }
      

  
/*-----------------------------------Certification Page-----------------------------------------------------------------*/
.certificate__elements{
    width: 60%; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-width:2px;
    border-style:solid;
    border-color:black;
}
.name,.studentID{
    color: #275D38;
    font-size: 18px;
}

.instruction__container{
    width: 70%;
    margin-left: 15%;
}

.certificate__image{
    width: 100%;
    margin-left: 0%;
}
.back__button{
    background-color: #F2CD00;
    border: none;

    width: 150px;
    height: 30px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 4%;

    font-size: 18px;
    font-weight: 400;
    text-align:left;
    text-indent: 20px;

    cursor: pointer;
}
/*-----------------------------------End of Certification Page----------------------------------------------------------*/

.calculator__container{
    
    padding-top: 10px;
}
    
.button_generic {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F2CD00;
    background-color: #275D38;
}

/*------------------------------Start of Waiver page----------------------------*/

.liability_header .liability_subheader {
    text-align: center;
}

.liability_subheader {
    color: red;
}

.form-control {
    min-width: 50px;
  }
/*--------------------------End of Waiver page------------------------------------*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*------------------Quiz Page---------------------*/
.continue__button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F2CD00;
    background-color: #275D38;;   
}
.continue__button:disabled,
.continue__button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.validate__button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F2CD00;
    background-color: #275D38; 
}
#h1, #h2, #h3, #h4, #h5{
    background-color: #275D38!important;
    color: #F2CD00!important;
}
/*-----------------End of Quiz Page---------------*/

.btn-primary{
    color: #F2CD00 !important;
    background-color: #275D38 !important;
}